{% extends "base.html" %} {% block title %} Contact {% endblock %} {% block
content %}
<div class="container mt-5">
  <h1 class="text-center">Contact Us</h1>
  <p class="mt-4 text-center">
    If you have any questions, feedback, or need assistance, please feel free to
    reach out to us. We are here to help!
  </p>
  <div class="row mt-5">
    <div class="col-md-6 text-center">
      <h3>Email</h3>
      <p>
        <a
          href="mailto:ntwalisolomon9@gmail.com"
          class="btn btn-outline-primary"
          >ntwalisolomon9@gmail.com</a
        >
      </p>
    </div>
    <div class="col-md-6 text-center">
      <h3>LinkedIn</h3>
      <p>
        <a
          href="https://www.linkedin.com/in/ntwali-salomon-558177216/"
          target="_blank"
          rel="noopener"
          class="btn btn-outline-primary"
          >Ntwali Salomon on LinkedIn</a
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
