{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<div class="jumbotron text-center mt-5">
  <h1 class="display-4">Welcome to the Bioanalyzer</h1>
  <p class="lead">
    Explore the world of bioinformatics with our comprehensive tools and
    resources.
  </p>
  <hr class="my-4" />
  <p>
    Get started by navigating through the menu to access various features and
    datasets.
  </p>
  <a href="#tools-section" class="btn btn-primary btn-lg">Explore Tools</a>
</div>

<div class="container mt-5" id="tools-section">
  <h2 class="text-center mb-5">Our catalogue</h2>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="tool-box">
        <h5>Pairwise Sequence Alignment</h5>
        <p>
          Align two sequences to identify regions of similarity. This tool helps
          in comparing two sequences to find the best alignment.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="{{ url_for('static', filename='static/images/pairwise_image.jpg') }}"
        class="img-fluid rounded"
        alt="Pairwise Sequence Alignment"
      />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6 order-md-2">
      <div class="tool-box">
        <h5>Multiple Sequence Alignment</h5>
        <p>
          Align multiple sequences to identify conserved regions. This tool is
          useful for finding similarities across multiple sequences.
        </p>
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <img
        src="{{ url_for('static', filename='static/images/multiple_sequence_image.jpg') }}"
        class="img-fluid rounded"
        alt="Multiple Sequence Alignment"
      />
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="tool-box">
        <h5>Phylogenetic Tree Construction</h5>
        <p>
          Generate phylogenetic trees from sequence data. This tool helps in
          understanding the evolutionary relationships between sequences.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="{{ url_for('static', filename='images/phylogenetic_tree_image.jpg') }}"
        class="img-fluid rounded"
        alt="Phylogenetic Tree Construction"
      />
    </div>
  </div>
</div>

<script>
  // Add smooth scrolling for the "Explore Tools" button
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
{% endblock %}
