/* General Styles */
body {
  background-color: #105c9f; /* Changed from white to blue */
  color: white; /* Default text color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #ffb508 !important; /* Gold color */
}

.navbar .nav-link {
  color: #ffffff !important; /* White text */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Spinner Styles */
.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}

/* Jumbotron Styles */
.jumbotron {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 4rem 2rem;
}

/* Tools Section Styles */
#tools-section {
  padding-top: 5rem;
}

.tool-box {
  background: linear-gradient(to right, #ff9d00, #ffb508);
  color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 1.5rem;
}

.row {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.row:hover {
  transform: translateY(-10px);
  opacity: 0.9;
}

/* Contact Container Styles */
.contact-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.contact-container h1,
.contact-container h2 {
  color: #333;
}

.contact-container p {
  color: #555;
}

.contact-container .btn {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

/* Pills Navigation Styles */
.nav-pills .nav-link {
  color: white !important; /* White text */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-pills .nav-link:hover {
  background-color: #ffa200; /* Brown color on hover */
  color: white !important; /* White text on hover */
  border-radius: 50px; /* More pill-like */
  padding: 0.2rem 0.3rem;
  transform: none; /* Padding for pill effect */
}

.nav-pills .nav-link.active {
  background-color: #ffa200; /* Brown color for active link */
  color: white !important; /* White text for active link */
  border-radius: 50px; /* More pill-like */
  padding: 0.2rem 0.3rem; /* Padding for pill effect */
}

/* About Container Styles */
.about-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.about-container h1,
.about-container h2 {
  color: #333;
}

.about-container p {
  color: #555;
}

.about-container .img-fluid {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Footer Styles */
footer {
  color: black; /* Black text color for footer */
}

footer a {
  color: black; /* Black text color for footer links */
}

footer a:hover {
  color: #007bff; /* Blue text color on hover for footer links */
}
